*{
margin:0px;
padding:0px;
}
img{border:0px;}
html{
width:100%;
height:100%;
background:url(images/bg.jpg) center 90px no-repeat;
}
body{
width:100%;
height:100%
}
#site{
width:988px;
margin:0 auto;
}
#header{
padding:78px 0 0 0;
width:988px;
overflow:hidden;
position:relative
}
.logo{
margin:0 0 0 40px;
/ margin:0 0 0 42px;
float:left;
}
#menu{
background:url(images/menu_bg.jpg) top left no-repeat;
width:988px;
height:46px;
float:left;
/ float:none;
margin:40px 0 0 0;
/ margin:40px 0 0 3px;
padding:2px 0 0 4px;
}
#menu ul{
background:url(images/end_menu.gif) top right no-repeat;
overflow:hidden;
float:left;
padding:0 3px 0 0;
}
#menu li{
display:inline;
list-style-type:none;
}
#menu a{
display:block;
float:left;
}
.but1{background:url(images/but1.jpg) top left no-repeat;}
.but2{background:url(images/but2.jpg) top left no-repeat;}
.but3{background:url(images/but3.jpg) top left no-repeat;}
.but4{background:url(images/but4.jpg) top left no-repeat;}
.but5{background:url(images/but5.jpg) top left no-repeat;}
.but6{background:url(images/but6.jpg) top left no-repeat;}
#menu a:hover, .active{
background-position:bottom left
}
#meta{
position:absolute;
top:134px;
right:51px;
/ right:47px;
}
#meta li{
display:inline;
list-style-type:none;
}
#meta a{
display:block;
float:left;
margin:0 6px 0 0;
}
.meta1{background:url(images/meta1.jpg) top left no-repeat;}
.meta2{background:url(images/meta2.jpg) top left no-repeat;}
.meta3{background:url(images/meta3.jpg) top left no-repeat;}
#meta a:hover{
background-position:bottom left
}
#menu input{
background:url(images/search_bg.gif) top left no-repeat;
width:140px;
height:14px;
padding:2px 23px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#171717;
border:0px;
margin:11px 0 0 60px;
}
#content{
width:988px;
background:url(images/content_bg.jpg) top left no-repeat;
overflow:hidden;
/ margin:0 0 0 3px;
padding:0 0 28px 0;
}
#main{
width:674px;
float:left;
overflow:hidden;
padding:13px 5px 0 19px;
}
.current{
background:url(images/current_bg.jpg) top left no-repeat;
width:659px;
overflow:hidden;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#DBE0E8;
padding:0 0 25px 0;
}
.current p{
display:block;
float:left;
width:520px;
padding:22px 0 0 35px;
}
.current_link{
display:block;
float:left;
margin:15px 0 0 5px;
}
.post{
width:269px;
height:312px;
float:left;
background:url(images/post_bg.gif) top left no-repeat;
padding:15px 28px 0 25px;
margin:0 15px 11px 0;
}
.post span{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#0893EF
}
.post h5{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#3E3E3E;
padding:8px 0 10px 0;
}
.post p{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#6D7072;
display:block;
margin:13px 0;
}
.more{
display:block;
margin:0 0 0 80px;
}
#sidebar{
width:277px;
float:left;
}
.block{
background:url(images/line.gif) top left repeat-y;
float:left;
margin:0 0 20px 0;
}
.news{
background:url(images/block_end.gif) bottom left no-repeat;
width:272px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#6D7072;
}
.news div{
background:url(images/news_bg.jpg) top left no-repeat;
width:228px;
padding:102px 16px 15px 28px;
float:left;
}
.news p{
padding:0 0 18px 0;
}
#sidebar .more{
margin:0 0 0 60px;
}
.sponsors{
margin:0 0 20px 0;
}
.sponsors a{
display:block;
margin:11px 0 0 13px;
}
.popular{
margin:17px 0 0 15px;
}
.popular li{
list-style-type:none;
background:url(images/bullet.gif) left 3px no-repeat;
padding:0 0 0 25px;
line-height:23px;
height:23px;
}
.popular a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#6D7072;
text-decoration:underline
}
.popular a:visited{text-decoration:underline}
.popular a:hover{text-decoration:none}
#footer{
width:100%;
border-top:1px solid #D0D1D2;
padding:15px 0 70px 0;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#6D7072;
}
#footer span{
float:left;
}
#footer div{
width:988px;
margin:0 auto;
padding:0 0 0 15px;
}
#footer a{
color:#0893EF;
text-decoration:underline
}
#footer a:visited{text-decoration:underline}
#footer a:hover{text-decoration:none}
#footer .bft{text-decoration:none}
#footer .bft:visited{text-decoration:none}
#footer .bft:hover{text-decoration:underline}
#navigation{
display:block;
float:right
}
#navigation li{
display:inline;
list-style-type:none;
}
#navigation a{
margin:0 10px;
}
#footer #navigation .rss{
color:#ED2CE2;
text-decoration:none
}














