table.tablesorter tr.caption td { 
	background:#006fc2;color:#eee;font-style:normal;font-size:14px; 
  	border: 0px solid #006fc2;
	font-family: Helvetica,Tahoma,Arial;
	font-size: 11pt;
	padding:5px 2px 5px 2px;
	text-align:center;
}
table.tablesorter tr.caption a { color: #bbb;}
table.tablesorter tr.caption td.note { 
	background:#006fc2;color:#eee;font-style:normal;font-size:9px; 
	border:0px; 
	text-align:left;
	font-family: Helvetica,Hei,Tahoma,Arial;
}

/* tables */
table.tablesorter {
	font-family: Helvetica,Hei,Tahoma,Arial;
	background-color: #fff;
	margin:5px 0pt 5px 10px;
	font-size: 9pt;
	border-collapse:collapse;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #009ab7;
	font-size: 9pt;
	color:#eee;
	border: 1px solid #789;
	text-align:center;
	max-width:100px;
	padding: 1px;
	white-space: nowrap; 
}
table.tablesorter tr th{
	background-color: #5d880c;
	border: 1px solid #789;
	color:#fff;
	text-align:left;
	padding: 2px 2px 2px 5px;
	max-width:200px;
	white-space: nowrap; 
}
table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	border: 1px solid #789;
	background-position: center right;
	cursor: pointer;
	white-space: nowrap; 

}
table.tablesorter tbody td {
	color: #000;
	padding: 1px;
	background-color: #FFF;
	border: 1px solid #789;
	text-align:right;
}
table.tablesorter tr.highlight td {
	background-color:#555;
	border: 1px solid #789;
	color: #eee;
	font-weight:bold;
}
table.tablesorter tr.highlight th {
	background-color:#555;
	border: 1px solid #789;
	color: #eee;
	font-weight:bold;
}
table.tablesorter tbody tr.odd td {
	background-color:#ededed;
	border: 1px solid #789;
}
table.tablesorter thead tr .headerSortUp { background-image: url(asc.gif); }
table.tablesorter thead tr .headerSortDown { background-image: url(desc.gif); }
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp { background-color: #ff0202; }

table.tablesorter  caption  a,a:link,a:visited { color:#eee;text-decoration:underline; }
table.tablesorter  th a,a:link,a:visited { color:#eee;text-decoration:underline; }
table.tablesorter  td a,a:link,a:visited { color:blue;text-decoration:underline; }

table.tablesorter  a:hover { background-color: #ba4339;color:yellow; }
.nav2 a,a:link,a:visited { color:blue; }
.nav2 a:hover { color:#fff; text-decoration:underline;color:red;}
