   
body {

 background:#dff2f4;

}


.leftcolumn{  padding:14px 10px 0; width:161px; text-align:left;}
.leftcolumn iframe{ height:100%; width:99.99%;}
.titbar{ background:url(../images/leftbar_bg.jpg) no-repeat transparent; padding-left:33px; width:126px; height:28px; line-height:28px; font-size:14px; color:#FFFFFF; font-weight:bold; margin-bottom:6px;}
#nav{ width:159px;}
#nav .ablock{ display:block; width:126px; padding-left:33px;}
#nav .firstbar{ background:url(../images/leftbar_bg2.jpg) no-repeat transparent; float:left; margin-bottom:4px; line-height:23px;}
#nav .firstbar ul{ margin-top:5px;}
#nav .firstbar li{ height:22px; line-height:22px;}
#nav ul.collapsed {
display:none;
}
#nav .firstbar li{ background:url(../images/ico_bar.jpg) no-repeat transparent; background-position:27px center; padding-left:36px; width:126px;} 
 